[submodule "Orchard"]
	path = platforms/Orchard
	url = https://github.com/templates4/Orchard
[submodule "Kooboo"]
	path = platforms/Kooboo
	url = https://github.com/templates4/Kooboo
[submodule "Piranha"]
	path = platforms/Piranha
	url = https://github.com/templates4/piranha
[submodule "N2"]
	path = platforms/N2
	url = https://github.com/templates4/n2
[submodule "VirtoCommerce"]
	path = platforms/VirtoCommerce
	url = https://github.com/templates4/VirtoCommerce
[submodule "SmartStore"]
	path = platforms/SmartStore
	url = https://github.com/templates4/SmartStore
[submodule "GrandNode"]
	path = platforms/GrandNode
	url = https://github.com/templates4/GrandNode
[submodule "SuperFlexiUI"]
	path = platforms/SuperFlexiUI
	url = https://github.com/templates4/SuperFlexiUI
[submodule "Nop"]
	path = platforms/Nop
	url = https://github.com/templates4/Nop
