<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add defaultPushSource="github" key="github" value="https://nuget.pkg.github.com/templates4/index.json" />
  </packageSources>

  <packageSourceCredentials>
    <github>
      <add key="Username" value="scott-weeden" />
      <add key="ClearTextPassword" value="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" />
    </github>
  </packageSourceCredentials>
</configuration>